<ion-view class="login-view" hide-nav-bar="true">
    <ion-content scroll="false" has-header="true" has-tabs="true" padding="true">
        <div class="top-content row">
            <div class="col col-center">

            </div>
        </div>
        <div class="bottom-content row">
            <div class="col col-center">
                <button class="login button button-block button-stable" ng-click="googleSignIn()">
                    Log In with Google
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>